.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.details {
  background-color: #c8deb2;
  color: black;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #61dafb;
  padding: 10px 32px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.sign-up {
  position: absolute;
  top: 2%;
  right: 2%;
}

.subscribe {
  position: absolute;
  top: 2%;
  left: 2%;
}

.search {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.about-us {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
